<launch>
  <include file="$(find ur_modern_driver)/launch/ur3_bringup.launch">
    <arg name="robot_ip" default="192.168.0.4"/>
    <arg name="limited" default="True"/>
  </include>

    <!-- Launch moveit -->
  <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
    <arg name="limited" default="True"/>
    <arg name="debug" default="False" />
  </include>
   
   <!--
  <include file="$(find ur3_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
  </include>
  -->

    <!-- Detect tomato -->
  <node name="ur3_vision" pkg="darknet_ros" type="ur3_vision.py" output="screen"/>
    <!--Move UR3-->
  <node name="ur3_mp" pkg="darknet_ros" type="ur3_mp.py" output="screen"/>
</launch>